.taskbar {
  --bg: rgba(243, 243, 243, 0.85);
  --iconBg: rgba(255, 255, 255, 0.67);
  background: var(--bg);
  backdrop-filter: saturate(3) blur(20px);
}
.wrapper[data-theme='dark'] {
  .taskbar {
    --bg: rgba(32, 32, 32, 0.75);
    --iconBg: rgba(255, 255, 255, 0.1);
  }
}

.task-date {
  display: flex;
  padding: 0 8px;
  font-size: 11px;
  flex-direction: column;
  justify-content: center;

  div {
    width: 100%;
    text-align: center;
    font-weight: 400;
  }
}
.left:hover,
.right > div:hover {
  background: var(--iconBg);
}
.active-transition {
  transition: 400ms ease-in-out;
  &:active {
    transform: scale(0.7);
    transition: 100ms ease-in-out;
  }
}
.task-icon {
  position: relative;
  width: 38px;
  height: 38px;
  margin: auto;
  background: rgba(254, 254, 254, 0);
  transform-origin: center;
  border-radius: 4px;
  &::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    width: 0px;
    height: 3px;
    border-radius: 4px;
    background: #858585;
  }
  &[data-open='true']::after {
    width: 6px;
  }
  &[data-active='true']:after {
    width: 12px;
    background: var(--clrPrm);
  }
  &:hover,
  &[data-active='true'] {
    background: var(--iconBg);
  }
  &.icon-1 {
    left: 8px;
    position: absolute;
    margin: 5px auto;
  }
}
