@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  user-select: none;
  overflow: hidden !important;
}

.app {
  position: relative;
  width: 100vw;
  height: 100vh;
}
